nav {
    * {
        transition: all 0.5s;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0.25vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1d4ed8;
}


/**** TIPTAP */

.tiptap {
    width: 50vw;
    min-height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
}